mariadb/aria_log_control
mariadb/aria_log.00000001
mariadb/ib_buffer_pool
mariadb/ib_logfile0
mariadb/ib_logfile1
mariadb/ibdata1
mariadb/ibtmp1
mariadb/multi-master.info
mariadb/mysql_upgrade_info
mariadb/tc.log
mariadb/mysql/column_stats.frm
mariadb/mysql/column_stats.MYD
mariadb/mysql/column_stats.MYI
mariadb/mysql/columns_priv.frm
mariadb/mysql/columns_priv.MYD
mariadb/mysql/columns_priv.MYI
mariadb/mysql/db.frm
mariadb/mysql/db.MYD
mariadb/mysql/db.MYI
mariadb/mysql/db.opt
mariadb/mysql/event.frm
mariadb/mysql/event.MYD
mariadb/mysql/event.MYI
mariadb/mysql/func.frm
mariadb/mysql/func.MYD
mariadb/mysql/func.MYI
mariadb/mysql/general_log.CSM
mariadb/mysql/general_log.CSV
mariadb/mysql/general_log.frm
mariadb/mysql/gtid_slave_pos.frm
mariadb/mysql/gtid_slave_pos.ibd
mariadb/mysql/help_category.frm
mariadb/mysql/help_category.MYD
mariadb/mysql/help_category.MYI
mariadb/mysql/help_keyword.frm
mariadb/mysql/help_keyword.MYD
mariadb/mysql/help_keyword.MYI
mariadb/mysql/help_relation.frm
mariadb/mysql/help_relation.MYD
mariadb/mysql/help_relation.MYI
mariadb/mysql/help_topic.frm
mariadb/mysql/help_topic.MYD
mariadb/mysql/help_topic.MYI
mariadb/mysql/host.frm
mariadb/mysql/host.MYD
mariadb/mysql/host.MYI
mariadb/mysql/index_stats.frm
mariadb/mysql/index_stats.MYD
mariadb/mysql/index_stats.MYI
mariadb/mysql/innodb_index_stats.frm
mariadb/mysql/innodb_index_stats.ibd
mariadb/mysql/innodb_table_stats.frm
mariadb/mysql/innodb_table_stats.ibd
mariadb/mysql/plugin.frm
mariadb/mysql/plugin.MYD
mariadb/mysql/plugin.MYI
mariadb/mysql/proc.frm
mariadb/mysql/proc.MYD
mariadb/mysql/proc.MYI
mariadb/mysql/procs_priv.frm
mariadb/mysql/procs_priv.MYD
mariadb/mysql/procs_priv.MYI
mariadb/mysql/proxies_priv.frm
mariadb/mysql/proxies_priv.MYD
mariadb/mysql/proxies_priv.MYI
mariadb/mysql/roles_mapping.frm
mariadb/mysql/roles_mapping.MYD
mariadb/mysql/roles_mapping.MYI
mariadb/mysql/servers.frm
mariadb/mysql/servers.MYD
mariadb/mysql/servers.MYI
mariadb/mysql/slow_log.CSM
mariadb/mysql/slow_log.CSV
mariadb/mysql/slow_log.frm
mariadb/mysql/table_stats.frm
mariadb/mysql/table_stats.MYD
mariadb/mysql/table_stats.MYI
mariadb/mysql/tables_priv.frm
mariadb/mysql/tables_priv.MYD
mariadb/mysql/tables_priv.MYI
mariadb/mysql/time_zone_leap_second.frm
mariadb/mysql/time_zone_leap_second.MYD
mariadb/mysql/time_zone_leap_second.MYI
mariadb/mysql/time_zone_name.frm
mariadb/mysql/time_zone_name.MYD
mariadb/mysql/time_zone_name.MYI
mariadb/mysql/time_zone_transition_type.frm
mariadb/mysql/time_zone_transition_type.MYD
mariadb/mysql/time_zone_transition_type.MYI
mariadb/mysql/time_zone_transition.frm
mariadb/mysql/time_zone_transition.MYD
mariadb/mysql/time_zone_transition.MYI
mariadb/mysql/time_zone.frm
mariadb/mysql/time_zone.MYD
mariadb/mysql/time_zone.MYI
mariadb/mysql/transaction_registry.frm
mariadb/mysql/transaction_registry.ibd
mariadb/mysql/user.frm
mariadb/mysql/user.MYD
mariadb/mysql/user.MYI
mariadb/performance_schema/db.opt
